body {
    background-color: rgb(224, 224, 241);
}

h1 {   
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 70px;
}

.headline {
    text-align: center;
    background-color:rgb(140, 188, 228);
    
    width: 100%;;
    margin: 10px;
    
}

.menu {
    background-color:antiquewhite;
    text-align: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    
    width: 50%;
}

.cookies, .cakes, .breads {
    display: block;
    margin: 40px;
}

select {
    font-size: 30px;
    margin: 40px;
}

