body {
    background-color: rgb(224, 224, 241);
}

h1 {   
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 70px;
}
.cart {
    text-align: right;
    margin: 20px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.headline {
    text-align: center;
    background-color:rgb(140, 188, 228);
    
    width: 100%;;
    margin: 10px;
    
}

.menu {
    background-color:antiquewhite;
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    padding: 30px;
    width: 100%;
    display: block;
    
   
    
}

.cookies, .cakes, .breads {
    display: inline-block;
    margin: 50px;
    padding: 50px;
    color: white;
    width: 20%;
    height: 50%;
    border-radius: 1cm;
    
}

.cookies {
    padding-left: 20px;
    background-color:brown;
}
.breads {
    background-color:darkcyan;
    padding-left: 20px;
}
.cakes {
    background-color:darkolivegreen;
    padding-left: 20px;
}

select {
    font-size: 30px;
    margin: 40px;
    border-radius: 1cm;
    text-align: center;
    width: 50%;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 1in;
    display: inline-block;
}

input[type=text] {
    width: 50%;
    text-align: center;
}